#selfie {
    padding-bottom: 20px;
    border-radius: 50px;
}

#greeting {
    padding-top: 50px;
    padding-left: 30px;
}

.krog{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

#krogcontainer{
    height: 500px;
}

#krogtunnel{
    background: url(./assets/krogtunnel.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 20px;
}

#emailbtn{
    margin-top: 20px;
    margin-bottom: 80px;
}

#helloline{
    margin-top: 40px;
}


#aboutme{
    padding-top:40px; 
}

#aboutcontain{
    padding-bottom: 40px;
}

.button{
    margin-bottom: 10px;
}

.project-thumb{
    border-radius: 10px;
}

#work{
    background: url(./assets/atlsky.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 20px;
}

footer{

    background: url(./assets/atldark.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 20px;
}







